
.detail-ad{
    padding: 20px 0;
    background-color: #f2f2f2;
}
.detail-ad-content{
    -webkit-align-items: center;
    -webkit-flex-flow: column;
    -webkit-justify-content: center;
    background-color: #DDD;
    display: -webkit-flex;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}
.detail-content{
    margin-top: 40px;
    background: #f8f8f8;
    padding-top: 20px;
}
.row-detail{
    background: #fff;
    border-left: solid 1px #e7e8ea;
    border-bottom: solid 1px #e7e8ea;
    border-right: solid 1px #e7e8ea;
    border-top: 4px solid rgb(205, 205, 245);
}
.detail-box{
    width: 71.37%;
    padding-top: 30px;
}
.detail-box-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.detail-title-list{
    margin: 0 20px;
}
.detail-box-left{
    width: 62.08%;
    margin: 0 20px 0 30px;
}
.detail-box-left h1{
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 30px;
    padding-bottom: 22px;
}
.detail-share {
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
    position: relative;
}
.detail-share p{
    font-size: 1.3rem;
    font-weight: 500;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;

}
.detail-share p >a {
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.detail-share-fb{
    height: 20px;
    line-height: 20px;
    color: #fff;
    margin-right: 6px;
    border-radius: 2px;
    font-size: 12px;
    position: relative;
    background: #4167b2;
    padding-left: 20px;
    padding-right: 5px;
    max-width: 100px;
    display: flex;
    margin-top: 10px;
    width: 75px;
}
.detail-share-fb::before{
    content: '';
    background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
    display: block;
    background-repeat: no-repeat;
    background-position: -508px -34px;
    width: 7px;
    height: 13px;
    background-size: 800px 400px;
    position: absolute;
    top: 3px;
    left: 7px;
}
.detail-icon{
    display: flex;
    margin-top: 20px;
}
.detail-share-like{
    height: 20px;
    line-height: 20px;
    color: #fff;
    margin-right: 6px;
    border-radius: 2px;
    font-size: 12px;
    position: relative;
    background: #1877f2;
    max-width: 100px;
    display: flex;
    margin-top: 10px;
    width: 75px;
}
.detail-share-like{
    margin-left: 20px;
}
#detail-share-like-icon{
    line-height: 20px;
    margin: 0 6px;
}
.detail-share-like p{
    color:#fff;
    line-height: 22px;
}
.detail-share-micro{
    line-height: 20px;
    color: #fff;
    margin-right: 6px;
    border-radius: 2px;
    font-size: 12px;
    position: relative;
    max-width: 100px;
    display: flex;
    margin-top: 10px;
    margin-left: 210px;
}
.detail-share-micro img{
    height: 25px;
    margin-left: 5px;
    position: relative;
    top: -9;
}
.audio{
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-top: -3px;
    display: none;
}
.audio audio{
    width: 340px !important;
    height: 28px !important;
    position: absolute;
    top: 39px;
    left: -13px;
    outline: none;
}
.detail-box-left h2{
    margin: 25px 0;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
.detail-box-left-content{
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin-bottom: 15px;
}
.detail-box-left-content-author{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: 20px;
}
.note{
    padding-bottom: 5px ;
    padding-top: 5px ;
    font-size: 14px ;
    line-height: 22px;
    font-style: italic;
    color: #666;
}
.mxh{
    border-top: 1px solid #e4e4e4;
    margin: 0;
    margin-top: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.detail-mxh-icon{
    display: flex;
}
.app-news-container-right-item a> img{
    width: 100%;
}
.detail-share-zalo{
    height: 20px;
    line-height: 20px;
    color: #fff;
    margin-right: 6px;
    border-radius: 2px;
    font-size: 12px;
    position: relative;
    background-color: #03a5fa;
    padding-left: 20px;
    padding-right: 5px;
    max-width: 100px;
    display: flex;
    margin-top: 10px;
    width: 125px;
}
.box-newsrelate{
    width: 100%;
    margin: 0 20px 0 30px;
}
.box-newsrelate-title{
    width: 100%;
    font-size: 1.9rem;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: blue;
    margin-bottom: 18px;
    position: relative;
}
.box-newsrelate-title::before{
    width: 5px;
    height: 16px;
    background-color: #ff8503;
    content: '';
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    position: relative;
    top: -2px;
}
.box-newsrelate-list{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.box-newsrelate-item{
    width: 22.38%;
}
.box-newsrelate-link{
    color: #000;
    font-size: 1.5rem;  
    font-weight: bold;
    margin-top: 10px;
    line-height: 20px;
}
.keyword{
    width: 100%;
    display: flex;
    margin: 25px 0;
    padding: 0px 20px 0 30px;
}
.keyword p{
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 20px;
    position: relative;
    margin-left: 17px;
}
.keyword p::before{
    content: '';
    background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
    display: block;
    background-repeat: no-repeat;
    background-position: -604px -70px;
    width: 14px;
    height: 14px;
    position: absolute;
    left: -17px;
    top: 0;
}
.keyword-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.keyword-item{

}
.keyword-item a{
    font-size: 1.3rem;
    margin: 0 2px;
    color:#949090;
}


/* commnen */
.box-coment{
    
}
.comment{
    width: 100%;
    padding: 20px 20px 0 30px;
    background: #f6f6f6;
    height: 271px;
}
.comment-p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #1877f2;
    text-transform: uppercase;
    margin-left: 8px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.comment-p::before{
    position: absolute;
    width: 4px;
    height: 14px;
    background: #ff8503;
    content: "";
    top: 1px;
    left:  -8px;
    display: block;
}
.comment input{
    border: 1px solid #e1e1e1;
    resize: none;
    width: 670px;
    border-radius: 2px;
    font-size: 13px;    
    padding: 13px 19px 74px 19px;
    outline: none;
    font-family: Roboto-Regular;
    margin-bottom: 20px;
}
.seecomment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.seecomment-p{
    font-size: 1.2rem;
    font-weight: bold;
    color: #6c6a6a;
    line-height: 18px;
    margin-left: 16px;
    position: relative;
}
.seecomment-p::before{
    background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
    display: block;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: -492px -56px;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    float: left;
    margin-top: 2px;
    left: -16px;
}
.seecomment-btn{
    padding: 5px 42px;
    background: #0959ab;
    border-radius: 3px;
    color: #fff;
    font-size: 1.4rem;
    margin-right: 54px;
    border: 1px #fff solid;
}
.comment-new label{
    padding: 5px;
    background: #fff583;
    color: #000;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 5px;
}
.comment-new button{
    margin-right: 5px;
    padding: 2 4px;
    background: transparent;
    padding: 5px 10px;
    font-size: 1.1rem;
    border: 1px solid #b9d0e3;
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
/* quang cao */
.quangcao{
    color: #ddd;
    margin: 50px auto;
    height: 150px;
    width: 700px;
}

.border-bottom{
    background-image: url(https://static.mediacdn.vn/nld/web_images/bg-line-detail.jpg);
    display: block;
    height: 10px;
    width: 100%;
    margin: 20px 20px 20px 30px;
}

/* box category */
.box-categories{
    width: 100%;
    padding: 0 20px 0 30px;
}
.box-categories-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box-categories-title h3{
    font-size: 1.9rem;
    font-weight: bold;
    color: rgb(55, 55, 255);
    margin-left: 7px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.box-categories-title h3::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 15px;
    background-color: #ff8503;
    top: 2px;
    left: -7px;
    border-radius: 1px;
}
.time{
    display: flex;
    
}
.time p{
    font-size: 13px;
    margin: 5px;
    color: #949090;
}
.time select{
    color: #434343;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
}
.box-categories-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.box-categories-left{
    width: 45.36%;
    position: relative;
}
.box-categories-left img{
    width: 100%;
}
.box-categories-left p{
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent,#000);
    padding: 20px;
    width: 463px;
    color: #fff;
}
.box-categories-center{
    width: 20.48%;
}
.box-categories-center a>img{
    width: 100%;

}
.box-categories-center-title{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
    line-height: 19px;
}
.box-categories-center-content{
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
}
.box-categories-right{
    width: 28.9%;
}
.box-categories-right-list{
    padding: 0;
    margin: 0;
}
.box-categories-right-item{
    padding-bottom:15px ;
    border-bottom: 1px solid #dddddd;
    display: flex;
    
    margin-bottom: 15px;
}
.box-categories-right-item:last-child{
    border-bottom: none;
}
.box-categories-right-content{
    padding-right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
.box-categories-right-img{
    width: 108px;
    height: 68px;
}
.box-categories-hot-news{
    width: 100%;
    padding: 0 20px 0 30px;

}
.hot-news-row{

}
.categories-hot-news-content{
    margin-top: 20px;
}
.hot-news-row-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.hot-news-row-item{
    width: 23.46%;
}
.hot-news-row-img{

}
.hot-news-row-content{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    margin-top: 7px;
}
.box-category-news{
    width: 64.77%;
    padding: 0 20px 0 30px;
}
.box-category-news-content-list{
    padding: 0;
    margin: 0;
    margin-top: 20px;

}
.box-category-news-content-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;

}
.box-category-news-content-item-link{
    margin-right: 22px;
}
.box-category-news-content-item h3{
    font-size: 20px ;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    line-height: 20px;
}
.box-category-news-content-item p{
    font-size: 14px ;
    line-height: 20px;
    color: #000;
}
.box-category-dont-miss{
    background: #222;
    padding-top: 0;
    border-top: 5px solid #ff8503;
    border-radius: 5px 5px 0 0;
    margin-bottom: 30px;
}
.title-dont-miss {    
    font-family: Roboto-Bold;
    font-size: 2.4rem;
    margin-left: 32px;
    margin-top: 20px;
    color: #fff;
    margin-bottom: 22px;
    text-transform: uppercase;
    position: relative;
    
}

.title-dont-miss::before{
    width: 5px;
    height: 18px;
    background: #ff8503;
    margin-right: 5px;
    margin-top: 2px;
    position:absolute;
    left: -12px;
    content: "";
    top: 2px;
}
.box-category-dont-miss-info{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}
.box-category-dont-miss-info::before{
    display: block;
    position: absolute;
    width: 10%;
    bottom: 0;
    right: 0;
    height: 100%;
    background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,#222 100%);
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,#222 100%);
    background: linear-gradient(to right,rgba(255,255,255,0) 0,#222 100%);
    content: '';
    z-index: 3;
}
.box-category-dont-miss-info-list{
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: visible;
}
.box-category-dont-miss-info-item{
    min-width: 250px;
    margin-left: 20px;
    float: left;
    position: relative;
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
    transition: 0.5s;
}
.box-category-dont-miss-info-item a> img{

}
.box-category-dont-miss-info-item a>p{
    padding: 12px 12px 20px;
    color: #000;
    font-size: 1.7rem;
    line-height: 22px;
    font-weight: bold;
}
.button-next{
    position: relative;
    z-index: 999;
    bottom: 196px;
    left: 663px;
    width: 35px;
    text-align: center;
    height: 75px;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: .8;

}
.button-next:hover{
    opacity: 1;
}
.btn-next-icon{
    font-size: 25px;
    color: #b9b7b7;
    margin-left: 7px;
}
.button-prev{
    position: absolute;
    z-index: 3;
    bottom: 196px;
    width: 30px;
    left: 3px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: .8;
    width: 35px;
    height: 75px;
}
.button-active{
    background-color: #ff8503;
}
.button-prev:hover{
    opacity: 1;
}
.btn-prev-icon{
    color: #b9b7b7;
    margin-left: 6px;
}
.swiper-button-active{
    border-radius: 5px 0 0 5px;
    background: #ff8503;
    opacity: .8;
    position: absolute;
    top: 50px;
    right: 0;
    width: 35px;
    height: 95px;
    z-index: 10;
    cursor: pointer;
    outline: none;
}
.swiper-button-prev::before{
    content: '';
    background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
    display: block;
    background-repeat: no-repeat;
    background-position: -527px -21px;
    width: 23px;
    height: 20px;
    top: 40%;
    left: 5px;
    position: absolute;
}
.swiper-button{
    border-radius: 0 5px 5px 0;
    background: #ff8503;
    opacity: .8;
    position: absolute;
    top: 50px;
    left: 0;
    width: 35px;
    height: 95px;
    z-index: 10;
    outline: none;
}
.swiper-pagination{
    left: 0;
    width: 100%;
    bottom: 10px;
    position: absolute;
    text-align: center;
}
.swiper-pagination-bullet{
    background: #bbb;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    margin: 0 4px;
    margin-bottom: 2px;
}
.swiper-pagination-bullet-active{
    background: #ff8503;
}
