/* pc */
@media (min-width:1024px){
    .box-focus{
        display: none;
    }
    .title-time{
        display: none;
    }
    .box-case-center-item :nth-child(4){
        display: none;
    }
    .box-magazine{
        display: none;
    }
    .box-case-center-item-vertical-time{
        display: none;
    }
    .box-case-mb-block{
        display: none;
    }
    .footer-menu-mb{
        display: none;
    }
}



/* mobile */

@media (max-width:739px){
    h1{
        margin: 0;
    }
    .header-menu{
        height: 44px;
        position: relative;
    }
    .menu-mb{
        display: flex;

    }
    .menu-list{
        display: none;
    }
    .menu-mb-icon {
        padding: 16px;

    }
    .menu-mb-icon-item{
        width: 16px;
        height: 2px;
        margin-top: 2px;
        background: #fff;
        border-radius: 2px;
    }
    .main-menu-cancel{
        top: 1px;
        left: 0px;
        position: relative;
        margin-top: 0;
        padding: 22px 25px;
        display: none;
    }
    .line-1{
        height: 20px;
        width: 2px;
        position: absolute;
        left: 23px;
        top: 11px;
        transform: rotate(-135deg);
        border-radius: 1px;
        -webkit-transition: all .3s;
        transition: all .3s;
        background-color: #fff;
    }
    .line-2{

    }
    .line-3{
        height: 20px;
        width: 2px;
        transform: rotate(135deg );
        border-radius: 1px;
        position: absolute;
        left: 23px;
        top: 9px;
        -webkit-transition: all .3s;
        transition: all .3s;
        display: block;
        margin-top: 2px;
        background: #fff;
    }
    .header .logo {
        display: block;
        width: 140px;
        height: 23px;
        background-image: url(https://static.mediacdn.vn/nld/web_images/logoMobNld.png);
        background-size: contain;
        float: left;
        background-repeat: no-repeat;
        margin-top: 11px;
    }
    .icon-item{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding: 14px;
    }
    .icon-menu-fb{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
    .icon-menu-youtube{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
    .icon-menu-seach{
        font-size: 18px;
        color: #fff;
        margin-right: 40px;
    }
    .seach-mb{
        width: 40px;
    }
    .seach-link-mb{
        top: 2px;
        left: 11px;
        position: relative;    
        padding-top: 7px;
        padding-bottom: 0;
        padding-right: 0;
        cursor: pointer;
    }
    .seach-link-mb::before{
        content: '';
        background-image: url(https://static.mediacdn.vn/nld/web_images/spritesV8.png);
        display: block;
        background-repeat: no-repeat;
        background-position: -73px -90px;
        width: 17px;
        height: 17px;
    }
    #search-input-mb{
        width: 0;
        height: 25px;
        border-radius: 20px;
        font-size: 13px;
        transition: all .3s;
        border: 1px solid #fff;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;  
        position: absolute;
        left: 154px;
        top: 10px;
        visibility: visible;
        opacity: 0;
        background: transparent;
        display: none;
    }
    .search-input{
        left: -154px;
        top: -6px;
        border: 1px solid #fff;
    }
    .top-header{
        display: none;
    }
    .content-header{
        display: none;
    }
    .container{
        max-width: 793px;
        margin: 0;
        position: relative;
        top: -22px;
    }
    .ad{
        display: none;
    }
    .list-new {
        display: none;
    }
    .container-new{
        display: none;
    }
    .content-right{
        display: none;
    }
    .content-left {
        width: 100%;
        position: relative;
        top: -100px
    }
    .top-new-image{
        width: 100%;
    }
    .top-new{
        width: 100%;
    }
    .news-horizotail{
        display: none;
    }
    .box-focus{
    width: 100%;
    height: 30px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 470px;
    padding: 0 15px;

    }
    .box-focus-item{
        width: calc((100vw - 45px)/2);
        float: left;
        margin-bottom: 10px;
    }
    .box-focus-item-link img{
        width: 100%;
    border-radius: 5px; 
    }
    .box-focus-item h3 > a{
        color: #222;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 21px;
        margin-top: 10px;
        display: block;
    }
    .box-news-right{
        display: none;
    }
    .info{
    }
    .news-item{
        width: 100%;
    }
    .news-title{
        margin-right: 4px;
    }
    .news-title a{
        font-size: 29px;
    }
    .box-news-list{
        display: flex;
        height: unset;
    }
    .box-news-list:nth-child(1){
        display: none;
    }
    .box-news-list:nth-child(2){
       display: none;
    }
    .box-news-list:nth-child(6){
        border-bottom: 1px solid #eee  !important;
    }
    .box-news-left{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .box-news-list{
    padding-bottom: 10px;
    margin-bottom: 10px;
    }
    .box-news-img{
        width: 100%;
        border-radius: 5px;
        height: 90px;
    }
    .box-news-link{
        width: 97.5%;
    }
    .news-content-title{
        display: none;
    }
    .title-time{
        margin-top: 10px;
        margin-left: 18px;
        color: rgb(180, 175, 175);
        font-size: 12px;
    }
    .box-title{
        font-size: 15px;
    }
    .box-news-list-img{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        display: block;
        margin-left: 8px;
    }
    .box-news-list-img-title{
        color: #222;
        line-height: 21px;
        margin-top: 10px;
        position: relative;
        margin-bottom: 12px;
        display: block;
        font-size: 16px;
        padding-bottom: 20px;
        margin-left: 10px;
    }
    .box-news-list-img::before{
        content: '';
        width: 18px;
        height: 17px;
        background: url(https://static.mediacdn.vn/nld/web_images/mob/Image-grey.svg) no-repeat;
        display: inline-block;
        margin-bottom: -1px;
        position: absolute;
        left: 12px;
    }
    .time{
        font-size: 1.2rem;
        color: rgb(170, 165, 165);

    }
    .box-news-list:nth-child(9){
        display: flex;
    }
    .box-news-list:nth-child(8){
        display: flex;
    }
    .info{
        display: none;
    }
    .info-mobile{
        display: block;
        margin-bottom:70px ;
        background-color: transparent;
        border: none;
        margin-top: 0;

    }
    .weather{
        display: block;
        width: unset;
        padding: 10px;
        
    }
    .weather-title{
        width: unset;
    }
    .city{
        font-size: 10px;
        color: rgb(194, 189, 189);
        margin-left: 10px;
    }
    .weather-temperature {
        color: #000;
        font-size: 10px;
        font-weight: bold;
    }
    .description {
        color: rgb(194, 189, 189);
        font-size: 10px;
    }
    .weather-mobile{
        display: flex;
        justify-content: space-between;
        margin-top: -19px;
        border-bottom: 1px solid #eee;

    }
    .rating-usd{
        margin-top: 7px;
    }
    .rating-usd-title{
        margin-right: 10px;
        color: #222;
        font-size: 1rem;
        font-weight: bold;
        line-height: 17px;
        float: left;
    }
    .price{
        color: #999;
        font-size: 1rem;
        line-height: 17px;
        float: left;
    }
    .exchange-rate {
        justify-content: flex-end;
        display: block;
        margin-left: 50px;
    }
    .stock-icon{
        margin-top: 14px;
    }
    .info-market{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        padding-bottom: 4px;
    }
    .kqxs{
        display: block;
        padding: 10px 5px 17px 10px;
        margin-left: 12px;
    }
    .kqxs-img{
        margin-left: 31px;
        margin-top: 3px;
    
    }
    .boxvietlottsection{
        margin-bottom: 10px;
    }
    .vietlott{
        padding: 16px 5px 17px 10px;
        
    }
    .stock-description{
        text-transform: uppercase;
    }
    .news-vietlott{
        display: block;
        background: transparent;
    }
    .news-vietlott-header{
        border-bottom: 5px solid #eee;
        padding-bottom: 2px;
    }
    .vietloot-slider{
        animation: none;
    }
    .product{
        display: grid;
        grid-template-columns: 85px 80px 1fr;
    }
    .product .name {
        width: 85px;
        padding-left: 5px;
        font-size: 10pt !important;
        font-weight: bold;
        background-color: #f2f2f0;
        color: #fb291f;
        padding: 4px;
        text-align: center;
    }
    .product-date {
        width: 80px;
        color: #333;
        padding: 4px;
        text-align: center;
        margin-top: 10px;
    }
    .lstNumb {
        margin-right: 1px;
        font-weight: bold;
        padding: 4px;
        margin-top: 10px;
    }
    .lstNumb-list{
        padding: 0;
        margin: 0;
    }
    .lstNumb-item{
        display: inline-block;
        margin-right: 8px;
    }
    .column-left-left-semore-mb{
        width: 100% !important;
    }
    .box-news-left-seemore-mb{
        margin-right: 0 !important;
        padding-right: 25px !important;

    }
    .column-left-righ-semore-mb{
        display: none;
    }
    .box-seemore-title{
        display: none ;
    }
    .view_more {
        border-radius: 3px;
        background-color: #e9e9e9;
        font: normal 16px/12px arial;
        color: #666 !important;
        padding: 12px;
        margin: 25px 10px;
        display: block;
    }
    .view_more span{
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/right.png);
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: 12px;    
    margin-left: 244px;

    }
    .box-hot-zone{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    .box-hot-zone-item{
        background: #bd333e;
        border-radius: 5px;
        margin-top: 20px;
        margin-right: 15px;
        width: calc((100vw - 60px)/3);
        height: 146px;
        padding: 40px 10px 0 10px;
    }
    .icon-doc-quyen{
        position: relative;
        padding: 0;
        color: #fff;
        font-size: 1.1rem;
        font-weight: bold;
        display: block;
    }
    .icon-doc-quyen::before{
        content: '';
        width: 85px;
        height: 56px;
        position: absolute;
        display: block;
        top: -69px;
        z-index: 10;
        left: 0;    
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/TinDocQuyen.svg)
    }
    .title-zone{
        font-size:11px;
        color: #fff;
        font-weight: bold;

    }
    .box-media{
        position: absolute;
        top: 3205px;
        border: none;
        background: transparent;
        display: block;
    }
    .media-content{
        padding: 0;
        position: absolute;
        top: -170px;
    }
    .navigation{
        display: none;
    }
    .media-news-content{
        display: block;
    }
    .media-content-left{
        width: 100% !important;
    }
    .media-content-title{
        margin-left: 35px;
    }
    .media-content-title::before{
        content: '';
        width: 20px;
        height: 20px;
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        left: -25px;
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/VideoHeaderHome.svg);
    }
    .media-main{
        width: 100%;
        position: relative;
        background: #000;
    }
    .media-main a> img{
        width: 100%;
    }
    .media-health{
        width: 100% !important;
        top : 192px !important;
        background-image: linear-gradient(transparent,black) !important;
    }
    .media-main h3{
        position: absolute;
        bottom: 0;
        padding: 0 16px;
        padding-bottom: 20px;
    }
    .media-main h3 >a{
        color: #fff;
        font-size: 1.7rem;
    }
    .media-health a{
        display: none;
    }
    .media-new-list{
        padding: 15px 15px 30px;
        background: #222;
    }
    .media-item-content{
        color: #fff;
    }
    .media-list-item{
        width: calc((100vw - 60px)/3);
        margin-right: 13px;
    }
    .media-item-img{
        width: 100%;
    }
    .media-local-news{
        display: none;
    }
    .news-row:last-child{
        display: none;
    }
    .media-list-item-mb{
        display: block;
    }
    .media-item-content{
        font-weight: 400;
    }
    .box-photo-mb{
        display: block;
        margin-top: 540px   ;
        border: none;
        padding: 12px 24px;
    }
    .box-photo-title p{
        background: transparent;
        margin-left: 19px;
        animation: photo 1s infinite;
        padding-top: 20px;
        border-top: 3px solid #eee;
        border-radius: 0px;
    }
    .row-content{
        justify-content: space-between;
    }
    .box-menu-mb{
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        right: 0;
        top: 44px;
        z-index: 99999;
        background: #fff;
        height: calc(100vh - 100px);
        overflow-y: scroll;
        padding-top: 20px;
        padding-bottom: 16px;
        display: none;
    }
    .box-menu-mb-active{
        display: block !important;
    }
    .box-menu-mb li {
        float: left;
        width: calc(50% - 13px);
        border: solid 1px #dfe3e6;
        background-color: #f5f7f7;
        border-radius: 3px;
        text-align: center;
        margin: 7px 5px;
    }
    .box-menu-mb li a {
        color: #333;
        font: normal 12px/normal Roboto-Bold;
        line-height: 16px;
        text-transform: uppercase;
        padding: 10px 0;
        display: block;
    }
    .box-euro{
        padding: 0;
        height: 600px;
    }
    .box-euro-title{
        padding: 20px 20px;
        background: #fff;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        justify-content: space-between;
        position: relative;
    }
    .box-euro-title h2{
        color: blue;
        background: #fff;
        position: relative;
        margin-left: 10px;
    }
    .box-euro-title h2::before{
        content: "";
        position: absolute;
        top: 6px;
        left: -10px;
        height: 17px;
        width: 4px;
        background: orange;
    }
    .box-case{
        border: none;
        padding: 0;
        margin-top: 30px;
    }
    .box-case-title h2{
        position: relative;
        margin-left: 20px;
    }
    .box-case-title h2::before{
        content: "";
        position: absolute;
        top: 5px;
        left: -10px;
        height: 17px;
        width: 4px;
        background: orange;
    }
    .navigation-cate{
        width: 16px;
        height: 16px;
        float: right;
        display: inline-block;
        padding-top: 3px;
        margin:3px;
    }
    .block-1{
        width: 7px;
        height: 7px;
        background: #ccc;
        float: left;
        margin-right: 2px;
        display: block;
        margin-bottom: 2px;
    }
    .block-2{
        width: 7px;
        height: 7px;
        background: #ccc;
        float: left;
        display: block;
        margin-bottom: 2px;
    }
    .block-3{
        width: 7px;
        height: 7px;
        background: #ccc;
        float: left;
        margin-right: 2px;
        display: block;
    }
    .block-4{
        width: 7px;
        height: 7px;
        background: #ccc;
        float: left;
        display: block;
    }
    .list-cate-active{
        position: absolute;
        width: calc(100vw - 29px);
        z-index: 9;
        background: #fff;
        right: 15px;
        top: 30px;
        padding: 0;
        display: block !important;
    }
    .list-cate{
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        display: none;
    }
    .list-cate li {
        float: left;
        width: 100%;
        border-bottom: 1px solid #eee;
        line-height: 8px;
    }
    .list-cate li a {
        padding: 11px 10px;
        color: #333;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 16px;
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .box-euro-content{
        display: block;
        margin-top: 0;
    }
    .euro-menu{
        display: none;
    }
    .euro-content-left{
        margin-right: 0;
        width: 100% !important;
    }
    .euro-content-left-img{
        width: 100%;
    }
    .euro-content-left h3{
        width: 100% !important;
        background: transparent;
        bottom: -26px;
    }
    .euro-content-left h3 >a{
        padding: 0 14px;
        top: 116px !important;
    }
    .euro-content-right{
        width: unset;
        margin-top: 36px;
    }
    .euro-content-right-list{
        display: flex;
        justify-content: flex-end;
    }
    .euro-content-right-item{
        display:none;
    }
    .euro-content-right-item:nth-child(4){
        display: block;
        border: none;
    }
    .euro-content-right-item:nth-child(5){
        display: block;
        border: none;
    }
    .euro-content-right-item-mb{
        width: calc((100vw - 45px)/2);
        margin-right: 15px;
        margin-bottom: 20px;
        float: left;
    }
    .euro-content-right-item a{
        width: 100%;
    }
    .euro-content-right-item a>img{
        width: 100%;
        border-radius: 5px;
    }
    .box-case-list{
        display: none;
    }
    .box-case-title{
        justify-content: space-between;
        position: relative;
        padding: 0 10px;
    }
    .box-case-title h2>a{
        font-size: 2.2rem !important;
        color: #005bb2 !important;
    }
    .list-cate-mb{
        left: 16px !important;
        top: 27px !important;
    }
    .box-case-content{
        display: block;
    }
    .box-case-left{
        width: 100%;
        margin-bottom: 20px;
    }
    .box-case-left h3{
        padding: 0 20px;
        font-size: 19px;
    }
    .box-case-left h3 >a{
        font-size: 19px;
    }
    .box-case-left p{
        display: none;
    }
    .box-case-center{
        display: block;
        width: 100%;
    }
    .box-case-center-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .box-case-center-item{
        display: block;
        width: calc((100vw - 50px)/2);
        margin-bottom: 10px;
        border: none;
    }
    .box-case-center-item:nth-child(2){
        padding: 0;
    }
    .box-case-center-item:nth-child(3){
        padding: 0;
        display: none;
    }
    .box-case-center-item a> img{
        width: 100%;
        border-radius: 7px;
        height: auto !important;
    }
    .box-case-center-item a>p{
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 10px;
    }
    .box-case-right{
        display: none;
    }
    .box-magazine{
        margin-top: 30px;
        padding: 6px 0 0 15px;
        background: #eee;
        position: relative;
    }
    .box-magazine .title-cate::before {
        content: '';
        width: 181px;
        height: 80px;
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/Magazine-Header.svg);
        display: block;
    }
    .box-magazine-list{
        margin: 0 auto;
        position: relative;
        overflow-x: auto;
        z-index: 1;
        margin-top: 15px;
        padding-bottom: 20px;
    }
    .box-magazine-list::-webkit-scrollbar{
        width: 0;
    }
    .slider-magazine{
        position: relative;
        width: 145%;
        height: 100%;
        z-index: 1;
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
    }
    .news-item-magazie img{
        width: 100%;
    }
    .news-item-magazie h3{
        margin: 10px 0 0 0;
    }
    .news-item-magazie h3 >a {
        color: #000;
        font-weight: 400 !important;
    }
    .box-case-center-item-mb-fl{
        display: block !important;
    }
    .box-case-mb{
        display: none;
    }
    .box-case-center-list-vertical{
        display: block;
    }
    .box-case-center-item-vertical{
        display: flex;
        height: auto;
        width: 100%;

    }
    .box-case-center-item-vertical a>img{
        width: 146px;
    }
    .box-case-center-item-vertical p{
        font-weight: 400;
    }
    .box-case-center-item-vertical-time{
        font-size: 14px !important;
        color: #a39c9c !important;
        margin-left: 0 !important;
        margin-top: 15px !important;
    }
    .box-case-mb-block .box-case-content{
        background: #43a047;
    }
    .box-women{
        border: none;
        padding: 0;
        background: #fff;

    }
    .box-women-title{
        margin-bottom: 10px;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
    }
    .box-women-title h2{
        position: relative;
    }
    .box-women-title h2::before{
        content: "";
        position: absolute;
        top: 2px;
        left: -10px;
        height: 17px;
        width: 4px;
        background: orange;
    }
    .box-women-title-list{
        display: none;
    }
    .box-women-content{
        background: #f8bbd0;
        display: block;

    }
    .box-women-content-left{
        width: 100%;
    }
    .box-women-content-left h3{
        padding: 0 15px;
    }
    .box-women-content-left h3 a{
        font-size: 2.2rem;
    }
    .box-women-content-right{
        width: 100%;
        margin-top: 20px;
    }
    .box-women-content-right ul >li{
        display: flex;
        padding: 0 15px;
    }
    .box-women-content-right a> img{
        border-radius: 5px;
        width: 120px;
        height: 90px;
    }
    .box-women-content-right-link{
        font-size: 1.6rem !important;
        font-weight: 400;
    }
    .box-case-content-mb{
        background: #4fc3f7 !important;
    }
    .box-case-left-mb h3 >a {
        color: #fff;
    }
    .footer-menu{
        display: none;
    }
    .quangcao{
        display: none;
    }
    .copyright{
        display: none;
    }
    .footer-x{
        padding: 20px 15px 70px;
        background: #005bb2;
        width: 100%;
    }
    .footer-content-center{
        display: none;
    }
    .footer-content-right{
        display: none;
    }
    .footer-content-left-title{
        color: #fff !important;
    }
    .footer-content-left-title-1{
        color: #fff !important;
    }
    .manager-content{
        color: #fff !important;
        margin-right: 19px;
    }
    .manager-tem p{
        color: #fff !important;

    }

    .footer-menu-mb{
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 15px;
        border-top: 1px solid #999;
        background: #fff;
        z-index: 9999;
        width: 100%;
        display: none;
    }
    .footer-menu-mb-active{
        display: block !important;
    }
    .box-case-title h2::before{
        display: block !important;
    }
    .footer-nav{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .footer-menu-mb .footer-nav .item {
        text-align: center;
    }
    .footer-menu-mb .footer-nav .item a.active {
        color: #005bb2;
    }
    .icon-mb-active:before {
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/HomeActive2.svg) !important;
    }
     .home-mb:before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/Home2.svg);
        display: block;
        margin: 0 auto 5px;
    }
    .footer-menu-mb .footer-nav .item a {
        color: #999;
        font: normal 8px/normal Roboto-Medium;
        line-height: 14px;
    }
    .most-view-mb:before {
        content: '';
        width: 20px;
        height: 18px;
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/MostView.svg);
        display: block;
        margin: 0 auto 7px;
    }
    .hot-news-mb:before {
        content: '';
        width: 16px;
        height: 20px;
        display: block;
        margin: 0 auto 5px;
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/HotNews.svg);
    }
    .media-mb:before {
        content: '';
        width: 20px;
        height: 18px;
        display: block;
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/Media.svg);
        margin: 0 auto 7px;
    }
    .emagazine-mb:before {
        content: '';
        width: 16px;
        height: 20px;
        display: block;
        margin: 0 auto 5px;
        background-image: url(https://static.mediacdn.vn/nld/web_images/mob/Magazine.svg);
    }
    
}
